<h1>Features index</h1>
<ul>
  <% @features.each do |feature| %>
    <li><%= link_to feature.title, edit_feature_path(feature) %></li>
    <% feature.scenarios.each do |scenario| %>
      <ul>
        <li>
          <%= link_to scenario.title, edit_feature_scenario_path(feature, scenario) %>
        </li>
        <ul>
          <% scenario.steps.each do |step| %>
            <li><%= step.title %></li>
          <% end %>
        </ul>
      </ul>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Create new feature', new_feature_path, class: 'btn btn-primary' %>
